<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76621526946-0dj4hje5h659aekjf3rep342f88nf3hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76621526946-0dj4hje5h659aekjf3rep342f88nf3hm</string>
	<key>API_KEY</key>
	<string>AIzaSyAdJ84gSnFWK9W85xSnAWrsR9YdD5wxs3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>76621526946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shun.nishizawa.sampleTodoApp</string>
	<key>PROJECT_ID</key>
	<string>sample-app-todo-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-app-todo-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76621526946:ios:bb52b120a31027b31e64fb</string>
</dict>
</plist>